<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
</head>
<body>
<form action="#" th:action="@{/products/create}" th:object="${productDto}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <input type="number" th:field="*{capacity}" placeholder="Capacity"/>
    <textarea th:field="*{description}" placeholder="Description"></textarea>
    <input type="number" th:field="*{stock}" placeholder="Stock"/>
    <input type="text" th:field="*{price}" placeholder="Price"/>
    <input type="file" name="image" required/>
    <button type="submit">Submit</button>
</form>
</body>
</html>